<div id="menuContainer">

    <div class="item" routerLink="/home">
        <img id="main-logo" src="assets/img/logo_live.png" alt="Logo Messenger">
        Messenger
        <!--<i class="fab fa-accessible-icon"></i>-->
        <!--<a routerLink="/home">Home</a> \-->
        <!--<a routerLink="/login">Login</a> \-->
        <!--<a routerLink="/profile">Profile</a>\-->
        <!--<a routerLink="/conversation">Conversation</a>-->
    </div>

    <div class="item" routerLink="/profile">
        Profile
    </div>


</div>